import java.util.Scanner;
import javax.swing.JOptionPane;

class Main {
  public static void main(String[] args) {
  	Scanner keyboard = new Scanner(System.in);
		
		String difficulty;

	//ASCII Art
	//Welcome message
		System.out.println("Welcome To Unscram.ble");
	//Difficulty Input
		 difficulty = JOptionPane.showInputDialog( "Welcome To Unscram.ble" + "\nDifficulty?");

		
		if (difficulty.equals("easy")) {

	  //EASY
			System.out.println("Welcome To Easy Mode!" + "\nIf you get this wrong you're absolutely stupid. ");
	  //HIP
		String hip;

    do{

      System.out.print("Unscramble IPH: ");
     hip = keyboard.nextLine();
      
    }
			while(!hip.equals("hip") && !hip.equals("Hip"));
	  	//RIP
					String rip;

    do{

      System.out.print("Unscramble PRI: ");
     rip = keyboard.nextLine();
      
    }
			while(!rip.equals("rip") && !rip.equals("Rip"));
	  	//PINK
			String pink;

    do{

      System.out.print("Unscramble PKNI: ");
     pink = keyboard.nextLine();
      
    }
			while(!pink.equals("pink") && !pink.equals("Pink"));
			
			}
		if (difficulty.equals("medium")) {
			System.out.println("\nmedium");
		}
		if (difficulty.equals("hard")) {
			System.out.println("\nhard");
		}
		if (difficulty.equals("expert")) {
			System.out.println("\nexpert");
		}
  }
}
